body {
    font-family: Arial;
}

.palette {
    float: left;
    width: 10vmin;
}

.painting {
    float: left;
    width: 90vmin;
    height: 90vmin;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 2px;
}

.pixel {
    float: left;
    height: 5%;
    width: 5%;
}

.color-choice {
    line-height: 100px;
    font-size: 100px;
}

.clear {
    padding: 5px;
    margin-top: 50px;
    margin-right: 5px;
    border: 1px solid grey;
    color: rgb(255,255,255);
    text-align: center;
}

#blue {
    color: blue;
}
#red {
    color: red;
}
#yellow {
    color: yellow;
}
#green {
    color: green;
}
#purple {
    color: purple;
}